@{
    ViewData["Title"] = "Home Page";
}

<header>
    <link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <script type="text/javascript" src="engine1/jquery.js"></script>
</header>
<body>
    <div class="text-center">
        <h1 class="display-4">Bem Vindo ao My Friends</h1>
        <p>Veja seus amigos mais próximos!</p>
    </div>
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><img src="data1/images/desert.jpg" alt="" title="" id="wows1_0" /></li>
                <li><img src="data1/images/dubai.jpg" alt="" title="" id="wows1_1" /></li>
                <li><img src="data1/images/Cold.jpg" alt="" title="" id="wows1_2" /></li>
                <li><img src="data1/images/india.jpg" alt="jquery carousel slider" title="" id="wows1_3" /></li>
                <li><img src="data1/images/forest.jpg" alt="" title="" id="wows1_4" /></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title=""><span><img src="data1/tooltips/desert.jpg" alt="" />1</span></a>
                <a href="#" title=""><span><img src="data1/tooltips/dubai.jpg" alt="" />2</span></a>
                <a href="#" title=""><span><img src="data1/tooltips/images.jpg" alt="" />3</span></a>
                <a href="#" title=""><span><img src="data1/tooltips/india.jpg" alt="" />4</span></a>
                <a href="#" title=""><span><img src="data1/tooltips/forest.jpg" alt="" />5</span></a>
            </div>
        </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">javascript carousel</a> by WOWSlider.com v9.0</div>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="engine1/wowslider.js"></script>
    <script type="text/javascript" src="engine1/script.js"></script>
</body>

